#wrapper h1{
	color: #fff;
    font-weight: 100;
    font-size: 50px;
    text-shadow: 0 0 10px #ff006c, 0 0 20px #ff006c, 0 0 30px #ff006c, 0 0 40px #ff417d, 0 0 70px #ff417d, 0 0 80px #ff417d, 0 0 100px #ff417d, 0 0 150px #ff417d;
  	margin: 40px 0px 20px;
}

#wrapper a{
	color: #fff;
    font-weight: 100;
    font-size: 20px;
    text-shadow: 0 0 10px #2b38e2, 0 0 20px #2b38e2, 0 0 30px #2b38e2, 0 0 40px #2b38e2, 0 0 70px #2b38e2, 0 0 80px #2b38e2, 0 0 100px #2b38e2, 0 0 150px #2b38e2;
  	margin: 40px 0px 20px;
	cursor: pointer;
}

#clockdiv{
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	margin: 2rem;
}

#clockdiv > div{
	padding: 5px;
	border-radius: 3px;
	box-shadow: 0px 0px 8px 3px #ff006c;
	margin: 0 5px;
	/* background: #5d6fb8; */
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	/* background: #7386D5; */
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}


#wrapper{

	height: 100vh;
	padding: 0px;
    font-weight: 100;
    font-family: 'Electrolize', sans-serif;
}


@media screen and (min-width: 550px) {
	
	#clockdiv > div {
		padding: 10px;
		margin: 0 20px;
	}
	#wrapper h1{
		font-size: 70px;
	}
  } 


 @media screen and (min-width: 750px) {
	
	#clockdiv > div {
		padding: 30px;
		margin: 0 1.5rem;
	}
  } 


  #wrapper div{
	text-align: center !important;
}

#particles-js{
	background-color: black;
	position: relative;
	height: 100%;
	width: 100%;
}

  /* #particles-js div, #particles-js canvas {
	position: absolute;
  } */

  /* #particles-js div{
		z-index: 10;
		margin-top: 100px;
  } */
  
 #particles-js > div{
	 width: 100%;
	margin: auto;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index:5;
 }
