    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    body {
        font: normal 16px/1.5 "Helvetica Neue", sans-serif;
        background: #fff;
        color: #fff;
        overflow-x: hidden;
        padding-bottom: 50px;
    }
    
    body::-webkit-scrollbar {
        width: 10px;
    }
    
    body::-webkit-scrollbar-track {
        background: white;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: rgb(85, 85, 85, 1);
    }
    
    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        outline: none;
    }
    
    a,
    a:active,
    a:focus {
        color: #6f6f6f;
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    section {
        padding: 60px 0;
        /* min-height: 100vh;*/
    }
    
    .sec-title {
        position: relative;
        z-index: 1;
        margin-bottom: 60px;
    }
    
    .sec-title .title {
        position: relative;
        display: block;
        font-size: 18px;
        line-height: 24px;
        color: #98212e;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .sec-title h2 {
        position: relative;
        display: block;
        font-size: 40px;
        line-height: 1.28em;
        color: #222222;
        font-weight: 600;
        padding-bottom: 18px;
    }
    
    .sec-title h2:before {
        position: absolute;
        content: '';
        left: 0px;
        bottom: 0px;
        width: 50px;
        height: 3px;
        background-color: #d1d2d6;
    }
    
    .sec-title .text {
        position: relative;
        font-size: 16px;
        line-height: 26px;
        color: #848484;
        font-weight: 400;
        margin-top: 35px;
    }
    
    .sec-title.light h2 {
        color: #ffffff;
    }
    
    .sec-title.text-center h2:before {
        left: 50%;
        margin-left: -25px;
    }
    
    .list-style-one {
        position: relative;
    }
    
    .list-style-one li {
        position: relative;
        font-size: 16px;
        line-height: 26px;
        color: #848484;
        font-weight: 400;
        padding-left: 35px;
        margin-bottom: 12px;
    }
    
    .list-style-one li i {
        position: absolute;
        left: 0;
        top: 0px;
        display: block;
        font-size: 18px;
        padding: 0px;
        color: #98212e;
        font-weight: 600;
        -moz-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1.6;
    }
    
    .list-style-one li a:hover {
        color: #555;
    }
    
    .btn-style-one {
        position: relative;
        display: inline-block;
        font-size: 17px;
        line-height: 30px;
        color: #ffffff;
        padding: 10px 30px;
        font-weight: 600;
        overflow: hidden;
        letter-spacing: 0.02em;
        background-color: #98212e;
    }
    
    .btn-style-one:hover {
        background-color: #555;
        color: #ffffff;
    }
    
    .about-section {
        position: relative;
        padding: 120px 0 70px;
    }
    
    .about-section .sec-title {
        margin-bottom: 45px;
    }
    
    .about-section .content-column {
        position: relative;
        margin-bottom: 50px;
    }
    
    .about-section .content-column .inner-column {
        position: relative;
        padding-left: 30px;
    }
    
    .about-section .text {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 26px;
        color: #848484;
        font-weight: 400;
    }
    
    .about-section .list-style-one {
        margin-bottom: 45px;
    }
    
    .about-section .btn-box {
        position: relative;
    }
    
    .about-section .btn-box a {
        padding: 15px 50px;
    }
    
    .about-section .image-column {
        position: relative;
    }
    
    .about-section .image-column .text-layer {
        position: absolute;
        right: -110px;
        top: 50%;
        font-size: 325px;
        line-height: 1em;
        color: #ffffff;
        margin-top: -175px;
        font-weight: 500;
    }
    
    .about-section .image-column .inner-column {
        position: relative;
        padding-left: 120px;
        padding-bottom: 125px;
    }
    
    .about-section .image-column .image-1 {
        position: relative;
    }
    
    .about-section .image-column .image-2 {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .about-section .image-column .image-2 img,
    .about-section .image-column .image-1 img {
        box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
    }
    
    .about-section .image-column .video-link {
        position: absolute;
        left: 70px;
        top: 170px;
    }
    
    .about-section .image-column .video-link .link {
        position: relative;
        display: block;
        font-size: 22px;
        color: #191e34;
        font-weight: 400;
        text-align: center;
        height: 100px;
        width: 100px;
        line-height: 100px;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
    }
    
    .about-section .image-column .video-link .link:hover {
        background-color: #191e34;
        color: #fff;
    }
    
    .submit-idea {
        width: 100%;
        padding: 88px;
    }
    
    .submit-idea input[type="text"],
    .submit-idea input[type="email"],
    .submit-idea input[type="tel"],
    .submit-idea textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
        width: 100%;
        border: 1px solid #CCC;
        background: #DCDCDC;
        margin: 0 0 5px;
        padding: 10px;
    }
    
    .submit-idea input[type="text"]:focus,
    .submit-idea input[type="email"]:focus,
    .submit-idea input[type="tel"]:focus,
    .submit-idea textarea:focus {
        outline: 0;
        border: 1px solid #999;
    }
    
    .submit-idea input[type="radio"]:active {
        height: 44px;
    }
    
    .submit-idea textarea {
        padding: 10px 12px;
        height: 100px;
        max-width: 100%;
        resize: none;
    }
    
    .submit-idea button[type="submit"] {
        background: #7386D5;
        border: 0;
        padding: 10px 30px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
        float: right;
    }
    
    .submit-idea button[type="submit"]:hover {
        background: #555;
    }
    
    .submit-idea input:hover,
    .submit-idea textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #AAA;
    }
    
    .socials a {
        display: inline-block;
        width: 37px;
        height: 37px;
        background-color: transparent;
    }
    
    .socials i {
        line-height: 37px;
        color: #616161;
        font-size: 14px;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        text-align: center;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    
    .team-details .socials i {
        color: #fff;
    }
    
    .socials a:hover i {
        color: #fff;
        background-color: #355c7d;
    }